= form_for @video do |f|
  - if @video.errors.any?
    #error_explanation
      %h2= "#{pluralize(@video.errors.count, "error")} prohibited this video from being saved:"
      %ul
        - @video.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :タイトル
    = f.text_area :title
  .field
    = f.label :コメント
    = f.text_area :introduction
  .field
    = f.label :youtube動画（URL）
    = f.text_field :youtube_url
  .actions
    = f.submit '投稿する'
