<div class="toumei">
   <h1>youtube動画一覧</h1>
<% @videos.each do |video| %>
      <tr>
        <td><%= video.title %></td>
        <td><%= video.introduction %></td>
        <td><%= link_to '動画を見る', video, class: "btn btn-success ml2" %></td>
        <td><%= link_to '編集する', edit_video_path(video), class: "btn btn-success ml2" %></td>
        <td><%= link_to '削除', video, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-success ml2" %></td>
      </tr>
<% end %>
</div>