<div class="toumei">
  <%= form_for @video do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@video.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% @video.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h1>youtube動画投稿</h1>

  <div class="field">
    <%= f.label :タイトル %>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :コメント %>
    <%= f.text_area :introduction %>
  </div>
  <div class="field">
    <%= f.label :youtube動画（URL下11桁） %>
    <%= f.text_area :youtube_url, :placeholder =>"共有から表示されるURL下11桁" %>
  </div>
  <div class="actions">
    <%= f.submit '投稿する' %>
  </div>
  <% end %>

</div>