<div class="toumei">
<section class="inner">
	<h2 class="section-ttl">注文情報入力</h2>
	<% if flash[:error] %>
		<div id="error_explanation">
			<p><%= flash[:error] %></p>
		</div>
	<% end %>
	<%= form_for(@order, url: orders_confirm_path) do |f| %>
		<div class="field mb2">
			<h3>支払い方法</h3>
			 <div class='container'>
      	<%= f.radio_button :payment, Order.payments.key(0), checked: true %>
      	<%= f.label :payment, 'クレジットカード' %>
      	<br>
      	<%= f.radio_button :payment, Order.payments.key(1) %>
      	<%= f.label :payment, '銀行振込' %>
       </div>
    </div>

		<h3>お届け先</h3>
		<div class="field mb2 select_address_0">
			<label class="fz16"><%= radio_button_tag :select_address, 0, :checked => true %>ご自身の住所</label>
			<p>〒<%= current_customer.postal_code %> <%= current_customer.address %></p>
			<p><%= current_customer.full_name %></p>
		</div>
		<div class="field mb2 select_address_2">
			<label class="fz16"><%= radio_button_tag "select_address", 2 %>新しいお届け先</label>
			<div class="field">
				<%= f.label :postal_code, "郵便番号(ハイフンなし7桁)" %>
				<%= f.text_field :postal_code, autocomplete: "postal_code", placeholder: "郵便番号", class: "jpostal_code" %>
			</div>
			<div class="field">
				<%= f.label :destination, "住所" %>
				<%= f.text_field :destination, autocomplete: "destination", placeholder: "住所", class: "jpostal_address" %>
			</div>
			<div class="field">
				<%= f.label :name, "宛名" %>
				<%= f.text_field :name, autocomplete: "name", placeholder: "宛名" %>
			</div>
		</div>
		<%= f.submit "注文確認画面に進む", class: "btn btn-primary submit_to_confirm_order" %>
	<% end %>
</section>
</div>